<div class="container mt-5">
    <div class="row">
        <div class="col-4 offset-4 jumbotron">
            <form [formGroup]="captchaForm" (ngSubmit)="sendCaptcha()">
                <div class="form-group">
                    <label for="captcha1">Captcha :</label>
                    <input type="text" formControlName='captcha1' class="form-control" placeholder="captcha1"
                        id="captcha1" disabled style="font-size: 40px;font-style:initial; letter-spacing: 10px;padding-left: 100px">
                </div>
                <div class="from-group text-center">
                        <i style="font-size:24px" class="fa" (click)="genCaptcha()">&#xf021;</i>
                </div>
                <div class="form-group mt-3">
                    <label for="captcha2">Type the above captcha :</label>
                    <input type="text" formControlName='captcha2' class="form-control" placeholder="captcha1"
                        id="captcha1">
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Go</button>
                </div>
            </form>
            <a routerLink="/signup" class="float-left">SignUp</a>
            <a routerLink="/login" class="float-right">SignIn</a>

        </div>
    </div>
</div>